.app {
    position: absolute;
    /* background: #69bcf4, #30cc8b; */
    background: linear-gradient(to bottom, #01FF70, #39CCCC);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.app .info {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.app .info .name {
    font-size: 90px;
    font-family: 'Cardo-Bold';
}

.app .info .role {
    font-size: 40px;
    font-family: 'Cardo-Bold';
}