.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.main .linkedin, .email, .mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main .linkedin .link, .email .link, .mobile .link {
    font-family: 'Cardo-Bold';
    font-size: 15px;
}